<%- include('../partials/header') %>

  <h1>Sentence Scrambler Quiz Menu</h1>
  <p>Choose a quiz to play or edit.</p>

  <ul>
    <% let titles = Object.keys(myData) %>
    <% for( let i=0; i<titles.length; i++) { %>
      <h2 class="grade" ><%= titles[i] %></h2>
      <% let units = Object.keys(myData[titles[i]]) %>
      <% for( let j=0; j<units.length; j++) { %>
        <h2 class="unit" ><%= units[j] %></h2>
        <% let quizzes = Object.keys(myData[titles[i]][units[j]]) %>
        <% for ( let k=0; k<quizzes.length; k++) { %>
          <form action="/" method="post">
            <h3><%= quizzes[k] %></h3>
            <input id="submit" type="submit" value="Select">
            <% let option = 'option' + k %>
            <% let playId = 'play' + k %>
            <% let editId = 'edit' + k %>
            <input type="radio" name="option" id="playId"  value="play" checked>
            <label for="playId">Play</label>
            <input type="radio" name="option" id="editId"  value="edit">
            <label for="editId">Edit</label>
            <input type="hidden" name="title" value="<%=titles[i]%>">
            <input type="hidden" name="unit" value="<%=units[j]%>">            
            <input type="hidden" name="quiz" value="<%=quizzes[k]%>">
            <% let questions = myData[titles[i]][units[j]][quizzes[k]] %>
            <% for ( let l=0; l<questions.length; l++) { %>
              <p><%= questions[l] %></p>
              <input type="hidden" name="question" value="<%=questions[l]%>">
              <% } %>
          </form>
        <% } %>
      <% } %>
    <% } %>
      
  </ul>