<%- include('../partials/header') %>

  <h1>Hello from choices</h1>
  

  <ul>
    <% let titles = Object.keys(myData) %>
    <% for( let i=0; i<titles.length; i++) { %>
      <p><%= titles[i] %></p>

      <% let units = Object.keys(myData[titles[i]]) %>
      <% for( let j=0; j<units.length; j++) { %>
        <P><%= units[j] %></P>

        <% let quizzes = Object.keys(myData[titles[i]][units[j]]) %>
        <% for ( let k=0; k<quizzes.length; k++) { %>
          <p><%= quizzes[k] %></p>

          <% let questions = myData[titles[i]][units[j]][quizzes[k]] %>
          <% for ( let l=0; l<questions.length; l++) { %>
            <p><%= questions[l] %></p>
          <% } %>
        <% } %>
      <% } %>
    <% } %>
      
  </ul>
 