<%- include('../partials/header') %>


<div hidden>
  <% for (i=0; i<gameData.length; i++) { %>
    <p class="sentences"><%= gameData[i] %></p>
    <% } %>
</div>
<h1>
  <span class="game-title"><%= gameGrade %></span>
  <span class="game-title"><%= gameUnit %></span>
  <span class="game-title"><%= gameTitle %></span>
</h1>
<h2>Question <span id="question-number"></span> of <span id="total-questions"></span></h2>
<div  class="question-box" id="question-box-id"></div><br>
<button id="check">Check Answer</button>
<button id="show">Show Answer</button>
<button id="next" >Next Question</button>


<script src="js/client.js"></script>